.PageHead .sapMTitleStyleAuto {
color: #fff;
text-shadow: none;
font-family: segoe ui Semibold!important;
letter-spacing:1px;
font-size:18px;
}
.clMargin {
margin-right: 0rem;
margin-left: 0rem;
width: calc(100%-1rem);
}
.BgcolTrans {
 background-color: #A9C6DE;
}

.ColLabel {
font-family:segoe ui Semibold!important;
font-weight:500;
padding:0 0.75rem;
margin-top:10px;
font-size:0.875rem;
font-color:black;
}

.Page_BC {
 background-color: #E5E5E5 !important; 		
 background-size: 100% 100% !important;
 background-repeat: no-repeat;
}

.Page_BC .sapMIBar.sapMHeader-CTX {
    background:#a2c614!important;
}

.PageHead .sapMTitleStyleAuto {
color:#fff!important;
text-shadow:none!important;
font-family:segoe ui Semibold!important;
letter-spacing:1px;
font-size:18px;
}

.ColInput  .sapMInputBaseInner{
height:1.7rem;

font-family:segoe ui Regular!important;
text-shadow:black!important;
padding:1.5px;
border-radius:2px;
border-width:1px !important;
border-height:1.5rem;
border-color:rgba(0, 0, 0, 0.4)!important;
color:#3f3f3f;
}

.ColText  .sapMInputBaseInner{
font-size:0.875rem;
line-height:normal;
font-family:segoe ui Regular!important;
text-shadow:none!important;
padding:0 0.75rem;
background:rgba(255, 255, 255)!important;
color:#3f3f3f;
}

.ButtonColorBlack .sapMBtnInner {
type:default;	
height:2.5rem !important;
min-width:4rem!important;
border:0;
text-shadow:black !important;

font-weight:600;
background:Grey!important;
color:#000000!important;
}
.ButtonColorBrown .sapMBtnInner {
height:auto !important;
min-width:4rem!important;
font-size:16px !important;
border-radius:2rem !important;
border:0;
text-transform:uppercase !important;
text-shadow:none !important;
letter-spacing:2px;
font-weight:600;
background:#a02e28!important;
color:#fff!important;
box-shadow:0 2px 1px 0 #be3a34, 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.26) !important;
}

.ButtonColorGreen .sapMBtnInner {
height:auto !important;
min-width:4rem!important;
max-width:7rem!important;
border-radius:2rem !important;
border:0;
text-transform:uppercase !important;
text-shadow:none !important;
letter-spacing:2px;
font-weight:600;
background:#a2c614!important;
color:#ffffff!important;
box-shadow:0 2px 1px 0 #698714, 0 2px 10px 0 rgba(54,105,75,0.16), 0 2px 5px 0 rgba(57,112,69,0.26) !important;
font-size:16px !important;
animation:glow 3s ease-in-out infinite;
letter-spacing:2px;
}

.ButtonColorRed .sapMBtnInner {
height:auto !important;
min-width:20rem!important;
max-width:25rem!important;
border-radius:2rem !important;
border:0;
text-transform:uppercase !important;
text-shadow:none !important;
letter-spacing:1px;
font-weight:600;
background:#a2c614!important;
color:#ffffff!important;
box-shadow:0 2px 1px 0 #698714, 0 2px 10px 0 rgba(54,105,75,0.16), 0 2px 5px 0 rgba(57,112,69,0.26) !important;
font-size:10px !important;
animation:glow 3s ease-in-out infinite;
letter-spacing:2px;
}

.ButtonColorGreen .sapMBtnInner:hover {
height:auto !important;
min-width:4rem!important;
max-width:7rem!important;
border-radius:2rem !important;
border:0;
text-transform:uppercase !important;
text-shadow:none !important;
letter-spacing:2px;
font-weight:600;
background:#a2c614!important;
color:#ffffff!important;
box-shadow:0 2px 1px 0 #698714, 0 2px 10px 0 rgba(54,105,75,0.16), 0 2px 5px 0 rgba(57,112,69,0.26) !important;
font-size:16px !important;
animation:glow 3s ease-in-out infinite;
letter-spacing:2px;
}

.ButtonColorBrown .sapMBtnInner:hover {
height:auto !important;
min-width:4rem!important;
font-size:16px !important;
border-radius:2rem !important;
border: 0;
text-transform: uppercase !important;
text-shadow:none !important;
letter-spacing:2px;
font-weight:600;
background:#a02e28!important;
color:#fff!important;
box-shadow:0 2px 1px 0 #be3a34, 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.26) !important;
}

.MsgRed {
    color: #FF0000;
    text-shadow: none;
    font-size: 20px;
    font-family: segoe ui Semibold!important;	
}

.MsgGreen {
    color: #008000;
    text-shadow: none;
    font-size: 20px;
    font-family: segoe ui Semibold!important;	
}
.InspoTable .sapMListTbl th {
height:2.3rem!important;
border-bottom:1px solid#bcd08a;
}
.clBGColor {
border-bottom:1px solid#e5e5e5;
}
.clTbltext {
padding-top:1px;
white-space:pre-wrap !important;
color:#fff!important;
}

.Panel_BC {
}
/*css for cards*/
.detailsCard{
	border-radius: 1rem;
    border: 1px solid #D8D8D8;	
}

/* Enter your custom styles here */